<!--nav bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand fw-bolder"><img src="https://findicons.com/files/icons/2010/free_food/128/bread1.png" alt="">&nbsp;&nbsp;Foodie Space</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggler navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!--nav item 1-->
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <!--nav item 2-->
      <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active">Register</a>
        </li>
        <!--nav item 3-->
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <!--nav item 4-->
        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
        </li>
        <!--nav item 4-->
        <li class="nav-item">
          <a class="nav-link" routerLink="contactus" routerLinkActive="active">ContactUs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--router outlet-->
<router-outlet></router-outlet>

<!--footer-->
<app-footer class="mt-auto"></app-footer>