<!--carousel-->
<div class="bg">
    <p class="personalize text-center pt-5">PERSONALIZE YOUR EXPERIENCE</p>
    <h2 class="text-center fw-bolder">What are your favorite cuisines?</h2>
    <!--get started-->
    <a href="login" class="getStarted btn rounded ps-4 pe-4 text-white">Get Started</a>

</div>
<!--Contact us/message-->
<a href="contactus">
    <img src="https://img-premium.flaticon.com/png/512/1041/1041916.png?token=exp=1621311633~hmac=a12a014c5ad397ba261b22a6d43a17a8" alt="" id="message">
</a>
<!--just for you-->
<h1 class="mt-4 ms-5">Just For You</h1>

<!--cuisines-->
<div id="cuisines" class="d-flex mt-3 mb-5 row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <!--col 1-->
    <div class="col card bubble border border-0 mt-2">
        <img src="https://image.freepik.com/free-photo/delicious-vietnamese-food-including-pho-ga-noodles-spring-rolls-white-table_181624-34062.jpg" class="cuisine rounded-circle">
        <div class="card-img-overlay text-white text-center fs-2 fw-bolder">Indian</div>
    </div>
    <!--col 2-->
    <div class="col card bubble border border-0 mt-2">
        <img src="https://image.freepik.com/free-photo/chicken-skewers-with-slices-sweet-peppers-dill_2829-18813.jpg" class="cuisine rounded-circle">
        <div class="card-img-overlay text-white text-center fs-2 fw-bolder">Italian</div>
    </div>
    <!--col 3-->
    <div class="col card bubble border border-0 mt-3">
        <img src="https://image.freepik.com/free-photo/front-view-delicious-cheese-pizza-brown-wooden-surface_179666-34397.jpg" class="cuisine rounded-circle">
        <div class="card-img-overlay text-white text-center fs-2 fw-bolder">Asian</div>
    </div>
    <!--col 4-->
    <div class="col card bubble border border-0 mt-3">
        <img src="https://image.freepik.com/free-photo/top-view-delicious-noodles-concept_23-2148773774.jpg" class="cuisine rounded-circle">
        <div class="card-img-overlay text-white text-center fs-2 fw-bolder">Korean</div>
    </div>
    <!--col 5-->
    <div class="col card bubble border border-0 mt-3">
        <img src="https://image.freepik.com/free-photo/penne-pasta-tomato-sauce-with-chicken-tomatoes-wooden-table_2829-8727.jpg" class="cuisine rounded-circle">
        <div class="card-img-overlay text-white text-center fs-2 fw-bolder">French</div>
    </div>
    <!--col 6-->
    <div class="col card bubble border border-0 mt-3">
        <img src="https://image.freepik.com/free-photo/front-view-rotini-pasta-plate-fork-female-hand-chopped-greens-bowl-cherry-tomatoes-grey-surface_140725-62566.jpg" class="cuisine rounded-circle">
        <div class="card-img-overlay text-white text-center fs-2 fw-bolder">Mexican</div>
    </div>
    <!--col 7-->
    <div class="col card bubble border border-0 mt-3">
        <img src="https://image.freepik.com/free-photo/shrimp-pad-thai-white-background_1150-41802.jpg" class="cuisine rounded-circle">
        <div class="card-img-overlay text-white text-center fs-2 fw-bolder">Chinese</div>
    </div>
    <!--col 8-->
    <div class="col card bubble border border-0 mt-3">
        <img src="https://image.freepik.com/free-photo/front-view-meat-hamburger-with-fresh-tomatoes-dark-background_179666-19388.jpg" class="cuisine rounded-circle">
        <div class="card-img-overlay text-white text-center fs-2 fw-bolder">American</div>
    </div>
</div>