<div class="row mb-3">
    <div class="col-md-5 mt-5">
      <img src="https://imgs.bharatmatrimony.com/bmimgs/login/login-otp-banner.png">
    </div>
  
    <!--form-->
    <div class="col-md-7 mt-5 border-2 shadow bg-white">
      <h1 class="text-center heading text-white mt-3 shadow">
        User registration form
      </h1>
  
      <form #ref="ngForm" (ngSubmit)="ref.form.valid && onLogin(ref)">

        <!--username-->
        <div class="form-floating">
          <input type="text" name="Username" id="un" class="form-control" autocomplete="off" placeholder="Enter name" ngModel required minlength="5" #refUsername="ngModel">
          <label for="un">Username</label>

          <p class="text-danger" *ngIf="(ref.submitted || refUsername.touched) && refUsername.errors?.required"><i class="fas fa-exclamation"></i>&nbsp;&nbsp;Username is required</p>
          <p class="text-danger" *ngIf="(ref.submitted || refUsername.touched) && refUsername.errors?.minlength"><i class="fas fa-exclamation"></i>&nbsp;&nbsp;Username should contain minimum 5 characters</p>
        </div>

       <!--dob-->
        <div>
          <label for="db" class="mt-2">Date of Birth</label>
          <input type="date" name="dob" id="db" class="form-control" ngModel required #refDOB="ngModel">
          <p class="text-danger" *ngIf="(ref.submitted || refDOB.touched) && refDOB.errors?.required"><i class="fas fa-exclamation"></i>&nbsp;&nbsp;Date of Birth is required</p>
        </div>

        <!--email-->
        <div class="form-floating">
          <input type="email" name="Email" id="em" class="form-control" autocomplete="off" placeholder="enter email" ngModel required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #refEmail="ngModel">
          <label for="em">Email</label>
          <p class="text-danger" *ngIf="(ref.submitted || refEmail.touched) && refEmail.errors?.required"><i class="fas fa-exclamation"></i>&nbsp;&nbsp;Email is required</p>
          <p class="text-danger" *ngIf="(ref.submitted || refEmail.touched) && refEmail.errors?.pattern"><i class="fas fa-exclamation"></i>&nbsp;&nbsp;Enter a valid Email address</p>
        </div>

        <!--password-->
        <div class="form-floating">
          <input type="password" name="pw" id="pw" class="form-control" placeholder="Enter password" autocomplete="off" ngModel required  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #refPassword="ngModel">
          <label for="pw">password</label>
          <p class="text-danger" *ngIf="(ref.submitted || refPassword.touched) && refPassword.errors?.required"><i class="fas fa-exclamation"></i>&nbsp;&nbsp;password is required</p>
          <p class="text-danger" *ngIf="(ref.submitted || refPassword.touched) && refPassword.errors?.pattern"><i class="fas fa-exclamation"></i>&nbsp;&nbsp;Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</p>
        </div>

        <!--submit-->
        <button type="submit" class="btn d-block mx-auto m-3 text-white fw-bold" id="submit">Register</button>
        <a href="login" class="float-end mb-3">Already have an Account?</a>
      </form>
    </div>
  </div>